In [1]:
import pandas as pd
import numpy as np

# Build Team
1. Using position allocations, from small set
2. Pairwise swaps through available FA
3. Genetic algorithm-style approach for full-team build?

## 1. Import data from scraper process

In [7]:
path = r'C:\Users\stefa\Documents\GitHub\first_scraper-master\Data_2019-01-24_avg_14.csv'
df = pd.read_csv(path)
pd.set_option('display.max_columns', 500)

#### Split FTM/FTA and FGM/FGA

In [28]:
df[['ftm','fta']]=df['FTs'].str.split(pat='/',n=1, expand=True)
df[['fgm','fga']]=df['FGs'].str.split(pat='/',n=1, expand=True)
df['ftm'] = df['ftm'].astype(float)
df['fta'] = df['fta'].astype(float)
df['fgm'] = df['fgm'].astype(float)
df['fga'] = df['fga'].astype(float)

### 2. Set league parameters, Ioad in teams

In [9]:
teams = 10
PG = 1
SG = 1 
G = 1
PF = 1
SF = 1
F = 1
C = 2
U = 2
bench = 2

#### Define make_team function, calculates team statistics 
1. Inputs
    - df_player
    - requirements
    - ?
2. Approach
    - Check reqs 
    - Calc stats
        - Include projections for next week / rem season
        - Will need to add "Opponents" module to scraper

In [30]:
#Placeholder for 10 best; just top-ranked slice for now
df_team = df[df['Owner']=='Green Machine'].iloc[:9]
df_team['games_next_week'] = 3.4

# Team statistics
team_fgp = np.sum(np.multiply(df_team['fgm'],df_team['games_next_week']))/np.sum(np.multiply(df_team['fga'],df_team['games_next_week']))
team_ftp = np.sum(np.multiply(df_team['ftm'],df_team['games_next_week']))/np.sum(np.multiply(df_team['fta'],df_team['games_next_week']))
team_pts = np.sum(np.multiply(df_team['Pts'],df_team['games_next_week']))
team_3pt = np.sum(np.multiply(df_team['3pt'],df_team['games_next_week']))
team_rbs = np.sum(np.multiply(df_team['Rbs'],df_team['games_next_week']))
team_ast = np.sum(np.multiply(df_team['Ast'],df_team['games_next_week']))
team_stl = np.sum(np.multiply(df_team['Stl'],df_team['games_next_week']))
team_blk = np.sum(np.multiply(df_team['Blk'],df_team['games_next_week']))
team_to = np.sum(np.multiply(df_team['TO'],df_team['games_next_week']))

In [39]:
df_teamstats = pd.DataFrame(
    {'fgp': team_fgp,
     'ftp': team_ftp,
     'pts': team_pts,
     '3pt': team_3pt,
     'rbs': team_rbs,
     'ast': team_ast,
     'stl': team_stl,
     'blk': team_blk,
     'to': team_to
    },index=['team'])

df_teamstats

        3pt     ast   blk       fgp       ftp     pts    rbs    stl    to
team  65.28  132.94  27.2  0.485306  0.797468  608.94  205.7  41.48  61.2

In [17]:
np.sum(np.multiply(df_team['fgm'],df_team['games_next_week']))

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
#def make_team(df_player,requirements):